# Browsers that we support

# Modern browsers
last 2 versions
> 1%
not dead

# Mobile browsers
iOS >= 12
Android >= 5
Chrome >= 60
Firefox >= 60
Safari >= 12
Edge >= 79

# Exclude IE
not ie 11
not ie 10
not ie 9
not ie 8
